/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, ul, li, a, button, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
}

.group {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
  width: 300px;
}

button {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px;
  background: green;
  float: right;
  display: block;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

li {
  display: block;
}

a {
  font-weight: bold;
  display: block;
  float: left;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}
.users-search {
  margin-left: 50px;
}
